
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    height: 100%;
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0;
}

/*
* Off Canvas
* --------------------------------------------------
* Greater thav 768px shows the menu by default and also flips the semantics
* The issue is to show menu for large screens and to hide for small
* Also need to do something clever to turn off the tabs for when the navigation is hidden
* Otherwise keyboard users cannot find the focus point
* (For now I will ignore that for mobile users and also not worry about
* screen re-sizing popping the menu out.)
*/
@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 25%;
    }

    .row-offcanvas-left {
        left: 20%;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -25%; /* 3 columns */
        background-color: rgb(255, 255, 255);
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -21%; /* 3 columns */
        background-color: rgb(255, 255, 255);
    }

    .row-offcanvas-right.active {
        right: 0; /* 3 columns */
    }

    .row-offcanvas-left.active {
        left: 0; /* 3 columns */
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
        background-color: rgb(254, 254, 254);
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        background-color: rgb(254, 254, 254);
    }

    .row-offcanvas .content {
        width: 80%; /* 9 columns */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;

    }

    .row-offcanvas.active .content {
        width: 100%; /* 12 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 20%; /* 3 columns */
    }
}
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

.site-index .body-content .content-area {
    min-height: 200px;
    display: flex;
    align-items: center;
}
.home-page-description{
    font-size: medium;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
}
.home-page-icons {
    font-size: 6em;
    color:#0facf3;
}
.technology-block .card{
    box-shadow: rgba(31,53,78,.30) 0px 1px 1px 1px;
}

.technology-block .card-body{
    padding-bottom: 33px;
}
.site-home .padding-10{
    padding-top: 20px;
}