@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/gotham-Font/GothamBook.eot');
    src: local('GothamBook'), url('../fonts/gotham-Font/GothamBook.woff') format('woff'), url('../fonts/gotham-Font/GothamBook.ttf') format('truetype');
}
html,
body {
    height: 100%;
    font-weight: 200;
    font-family: 'GothamBook' !important;
}

.wrap {
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.side-menu-list{
    padding-left: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: #fff;

}
.side-menu-list li a{
    color: #3c4859;
    text-decoration: none;
    font-weight: 500;
    padding: 3px 15px;
}
.side-menu-list ul li a{
    padding-top: 1px;
    color: #3c4859;
}
.side-menu-list li.active{
    font-weight: 600;
}
.side-menu-list ul li a:hover{
    background-color: #f5f5f5;
    text-decoration: underline;
}
.custom-header{
    background-color: #fff;
    border: none;
    box-shadow: rgba(31,53,78,.11) 0 1px;
}
.navbar-nav a{
    color: #9facbd;
    font-size: medium;
    font-weight: 800;
}
.navbar-nav a:hover{
    color: #3c4859 !important;
    text-decoration: underline !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #fff;
    color: #3c4859;
    text-decoration: underline;
}
.navbar-brand{
    color: #0facf3 !important;
    font-weight: 900;
}
.submenu-list{
    padding-top: 8px;
}

